:root {
  --Primary-light-color: #fffcfa;
  --Primary-light-color-alpha: #fffcfabb;
  --Primary-dark-color: #181C29;
  --White-bg-color: #fbf4ed;
  --Dark-bg-color: #222222;
  --Button-blue-color: #006bdd;
  --Button-blue-hover: #0056d3;
  --Button-blue-active: #3066b4;
  --Button-orange-color: #e9a831;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition-duration: .3s;
}

html {
  /* min-height: 100%; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

body {
  /* min-height: 100%; */
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 2rem;
}

.container {
  margin: 0 auto;
  max-width: 768px;
  text-align: center;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.btn {
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

h1 {
  padding: 2rem;
}

p {
  margin: 1.7rem;
}

/* Light Mode */
.light-mode {
  color: var(--Primary-dark-color);
  background-color: var(--White-bg-color);
}

.generate-quote_btn {
  color: var(--Primary-light-color);
  /* background-color: #006bdde3; */
  background-color: var(--Button-blue-color);
}

.generate-quote_btn:hover {
  /* background-color: #006bdd; */
  background-color: var(--Button-blue-hover);
}

.generate-quote_btn:active {
  color: var(--Primary-light-color-alpha);
  /* background-color: #0052a9; */
  background-color: var(--Button-blue-active);
}

/* Dark Mode */
.dark-mode {
  color: var(--Primary-light-color);
  background-color: var(--Dark-bg-color);
}

.dark-mode .dark-toggle {
  color: var(--Primary-light-color);
}

.dark-mode .generate-quote_btn:hover {
  background-color: var(--Button-blue-active);
}

.dark-mode .generate-quote_btn:active {
  color: var(--Primary-light-color-alpha);
  background-color: var(--Button-blue-hover);
}

.dark-mode .favorite_card {
  /* box-shadow: 0 4px 8px rgb(233, 168, 49) */
  box-shadow: 0px 0px 8px 4px rgba(233, 168, 49, 0.7);
}

.dark-mode .remove-favor-quote {
  background-image: url(../assets/delete_filled.svg);
}

/* And of Mode */

.dark-toggle {
  margin-top: 10px;
  padding: 5px 15px;
  color: var(--Primary-dark-color);
  background-color: var(--Button-blue-color);
  border-radius: 12px;
}

.generate-quote_btn {
  padding: 10px 20px;
  border-radius: 15px;
}

.favorite_btn_d-n {
  display: none;
}

.favorite_btn {
  margin-left: 2rem;
  padding: 10px 20px;
  background-image: url(../assets/star.svg);
  background-repeat: no-repeat;
}

.favorite_btn_active {
  background-image: url(../assets/star_filled.svg);
  /* background-color: var(--Button-orange-color); */
}

.quote-style {
  font-style: italic;
}

.quote-style::before,
.quote-style::after {
  content: '"'
}

.quote-author {
  text-align: right;
}

.favorites_container {
  display: flex;
  /* flex-flow: row-reverse wrap; */
  flex-wrap: wrap;
  justify-content: center;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
  gap: 20px;
  margin: 3rem;
}

.favorite_card {
  position: relative;
  width: 250px;
  padding: 2rem;
  /* background-color: #f9f9f9; */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.remove-favor-quote {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  padding: 2rem;
  background-image: url(../assets/delete.svg);
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: top 50% right 50%;
  cursor: pointer;
}